#signup{
    text-align: right;
    padding: 0em 2em 1em;
}
#menu ul{
    display:flex;
}
#menu li{
    flex-grow: 1;
}
body{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto auto auto;
    margin: 0em auto;
}
body > :nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0em 2em 0em;
}
#menu{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#news{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 1em 1em 1em 0em;
}
footer:last-of-type{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
#related{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    padding: 1em;
}
#news image{
    padding: 0em;
}
