@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');
body > :nth-child(1){ 
  background-color: #046dd5;
}
#signup :first-child::after{
  content: " | ";
}
header a:link{
  font-family: Poppins;
  color: white;
  text-decoration: none
}
body ul a:link{
  font-family: Lora;
  font-size: 1.4em;
  color: black;
  text-decoration: none;
}
body ul li{
  margin-top: 3px;
  margin-bottom: 5px;
}
body ul li:first-child{
  border-top: 5px solid red;
}
body ul li:nth-child(2){
  border-top: 5px solid #54e49a;
}
body ul li:nth-child(3){
  border-top: 5px solid rgb(183, 88, 230);
}
body ul li:nth-child(4){
  border-top: 5px solid rgb(238, 166, 40);
}
body ul li:nth-child(5){
  border-top: 5px solid rgb(0, 174, 255);
}
body ul li:nth-child(6){
  border-top: 5px solid rgb(240, 99, 176);
}
body ul{
    list-style-type: none;
    text-align: center;
}
#related a{
  text-decoration: none;
  color: white;
  font-family: Poppins;
} 
#related{
  text-decoration: none;
  background-color: #2A2F33;
  color: white;
  font-family: Lora;
} 
#menu input{
  display: none;
}
#news article header h1{
  position: absolute;
  padding: 1cm;
  text-shadow: 3px 3px #10304e;
}
#news article p:first-of-type::first-letter{
  font-size: 2em;
}
#news article{
  font-family: Lora;
}
#news footer{
  text-decoration: none;
  color: white;
  background-color: #F4655F;
  font-family: Poppins;
} 
#news footer a{
  text-decoration: none;
  color: white;
  background-color: #F4655F;
  font-family: Poppins;
}
footer .author::before{
  content: "By "
} 
footer .comments::after{
  content: " comments"
} 
footer:last-of-type{
  background-color: #2A2F33;
  color: white;
  font-family: Poppins;
} 

